.news_con {
    height: 243px;

}
 
.news_title {
    /* background: cadetblue; */
    font-size: 20px;
    color: #3f434f;
    line-height: 18px;
    padding-top: 36px;
    text-align: center;
}
 
.news_list {
    /* background: cornflowerblue; */
    margin-top: 23px;
}
 
.news_list li {
    width: 437px;
    height: 25px;
    /* background: url("../images/ico_05.jpg") no-repeat left; */
    padding-left: 14px;
    /* margin-top: 23px;不能给li加哦 要给他爹，不然每个儿子顶部都会空出来*/
}
 
.news_list li a {
    float: left;
    font-size: 12px;
    color: #565656;
    line-height: 25px;
}
 
.news_list li span {
    float: right;
    color: #9a9a9a;
    font-size: 12px;
}
 
.news_l {
    width: 480px;
    height: 243px;
    float: left;
    padding-left: 20px;
}
 
.news_c {
    width: 194px;
    height: 243px;
    /* background: #f1f1f1; */
    float: right;
    padding: 0 27px 0 20px;
}
 
.news_c .txt1 {
    font-size: 12px;
    color: #555555;
    line-height: 25px;
    margin-top: 34px;
    /* 行高自己去量哦 */
}
 
.news_c .txt2 {
    font-size: 12px;
    color: #979797;
    line-height: 25px;
    margin-top: 15 px;
    /* 行高自己去量哦 */
}
 
.news_r {
    width: 180px;
    height: 243px;
    /* background: #fbfbfb url("../images/ma_05.jpg") no-repeat right bottom; */
    float: left;
    padding: 0 38px 0 24px;
}
 
.news_r .txt3 {
    font-size: 12px;
    color: #585858;
    line-height: 24px;
    margin: 21px 0 22px 0;
}

.news_vedio {
    
}