.content {
    background-color: #ffffff; /* 设置内容区的背景颜色为白色 */
    padding: 20px; /* 设置内容区的内边距为20像素 */
    border-radius: 10px; /* 设置内容区的边框圆角为10像素 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 添加内容区的阴影效果 */
    margin: 3% 5%;
    text-align: center;
    min-height: calc(100vh - 70px);
}


.content a {
    /* 后代选择器是 CSS 中一种选择器，用于选择父元素内部的所有后代元素，而不仅仅是直接子元素 */
    color: #000000; /* 导航链接的文本颜色 */
    font-weight: 800;
    text-decoration: none; /* 导航链接的文本装饰，去除下划线 */
    padding: 0 30px; /* 字体间距 */
}

.content a:hover {
    color: rgb(2, 19, 53);
}

video {
    max-width: 80%; /* 视频的最大宽度为父容器的宽度 */
    max-height: 80%; /* 视频的最大高度为父容器的高度 */
}

/* NEWS Start */
/* 两列布局 */
.news-container {
    display: flex; /* 弹性布局 */
    justify-content: space-between; /* 将新闻内容分布在两列 */
}

.news {
    width: calc(/* 设置新闻模块的宽度为父容器宽度的一半减去间距（此处为 10px） */ 50% - 10px
    );
    padding: 10px; /* 设置新闻模块的内边距为 10px */
    background-color: #f2f2f2; /* 设置新闻模块的背景颜色为 #f2f2f2 */
    border-radius: 10px; /* 设置新闻模块的边框圆角为 10px */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 设置新闻模块的阴影效果 */
    margin-bottom: 20px; /* 设置新闻模块之间的下边距为 20px */
}

.news-title {
    font-size: 24px; /* 设置新闻标题的字体大小为 24px */
    font-weight: bold; /* 设置新闻标题的字体加粗 */
    margin-bottom: 10px; /* 设置新闻标题与日期之间的下边距为 10px */
}

.news-date {
    font-size: 12px; /* 设置新闻日期的字体大小为 12px */
    color: #999; /* 设置新闻日期的字体颜色为 #999 */
}

.news-container a {
    color: #333; /* 设置链接文字颜色 */
    text-decoration: none; /* 移除链接的下划线 */
    font-weight: bold; /* 设置链接文字加粗 */
    transition: color 0.3s; /* 设置链接文字颜色过渡效果 */
}

.news-container a:hover {
    color: #878585; /* 设置鼠标悬停时链接文字颜色 */
}

/* NEWS END */

.table_home {
    text-align: center;
}

/* ProblemSet */
.content table {
    border-collapse: collapse;
    width: 100%;
}

.content th,
td {
    font-weight: 800;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.content th {
    background-color: #f2f2f2;
}

.content tr:nth-child(even) {
    background-color: #f9f9f9;
}

.content tr:hover {
    background-color: #75686883;
}

td a:hover {
    color: #0551f4;
}

/* ProblemSet */

/* Item */
.project {
    text-align: center;
    margin: 50px 100px;
    padding: 20px;
    cursor: pointer;
    position: relative;
}

/* before 伪类选择器用于在元素的内容前面插入一个伪元素。通过设置 content 属性来定义伪元素的内容，通常用于添加装饰、图标等。它可以通过设置位置、样式和大小来调整伪元素的表现效果 */
.project:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -10px;
    right: -10px;
    bottom: -5px;
    border-radius: 20px; /* 圆角程度 */
    z-index: -1;
}

/* after 伪类选择器用于在元素的内容后面插入一个伪元素。与 ::before 类似，通过设置 content 属性来定义伪元素的内容，常用于添加装饰、图标等效果。同样，可以通过设置位置、样式和大小来调整伪元素的表现效果 */
.project:after {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1); /* 阴影效果 */
    border-radius: 30px; /* 圆角程度 */
}

.project-image {
    flex: 0 0 500px;
    margin-right: 20px;
    margin-bottom: 15px;
    /* border:3px solid red; */
}

.project-image img {
    width: 50%;
    height: auto;
}

.project-details {
    font-size: 24px;
    margin-bottom: 10px;
}

.project-details {
    text-align: center;
}

.project-details .project-info {
    border: 1px solid #ccc;
    padding: 30px;
    background-color: #f9f9f9;
}

.project-details p {
    font-size: 18px;
    margin-bottom: 5px;
}

.project-details a {
    color: #000000;
    text-decoration: none;
}

.project-details a:hover {
    text-decoration: underline;
}

/* Item */