/* 设置操作界面的样式 */
.operation_interface {
  background-color: #111f35; /* 设置操作界面的背景颜色为深蓝色 */
  position: absolute; /* 设置操作界面为绝对定位 */
  top: 50%; /* 将操作界面相对于父容器的顶部偏移设置为50% */
  left: 50%; /* 将操作界面相对于父容器的左侧偏移设置为50% */
  transform: translate(
    -50%,
    -50%
  ); /* 使用transform属性将操作界面在水平和垂直方向上居中 */
  width: 300px; /* 设置操作界面的宽度为300像素 */
  padding: 30px; /* 设置操作界面的内边距为30像素 */
  border-radius: 20px; /* 设置操作界面的边框圆角为20像素，使其具有圆角外观 */
}

.operation_interface span,
.operation_interface label {
  color: white; /* 设置 <span> 和 <lab> 元素的文字颜色为白色 */
}

.operation_interface input {
  width: 50%; /* 设置输入框宽度为父容器的50% */
  height: 100%; /* 设置输入框高度为父容器的100% */
  background-color: black; /* 设置输入框背景颜色为黑色 */
  color: #fff; /* 设置输入框文字颜色为白色 */
  border: none; /* 移除输入框边框 */
  padding: 10px; /* 设置输入框内边距为10像素 */
  font-size: 18px; /* 设置输入框文字大小为18像素 */
}

.operation_interface button,
.operation_interface a {
  font-size: 18px; /* 设置按钮和链接文字大小为18像素 */
  display: inline-block; /* 设置按钮和链接为行内块级元素 */
  padding: 10px 20px; /* 设置按钮和链接内边距为10像素顶部/底部，20像素左侧/右侧 */
  border-radius: 20px; /* 设置按钮和链接的边框圆角为20像素 */
  background-color: #ccc; /* 设置按钮和链接的背景颜色为灰色 */
  color: #020202; /* 设置按钮和链接的文字颜色为黑色 */
  text-decoration: none; /* 移除链接的下划线效果 */
  transition: background-color 0.3s; /* 设置按钮和链接的背景颜色在0.3秒内过渡变化 */
  cursor: pointer; /* 设置鼠标指针样式为手型 */
}

.operation_interface button:hover,
.operation_interface a:hover {
  color: gray;
}

input[type="radio"],
input[type="checkbox"] {
  display: none; /* 隐藏默认的单选框和复选框 */
}

.user {
  border: 2px solid black; /* 设置用户输入框边框为2像素黑色实线 */
  border-radius: 10px; /* 设置用户输入框边框圆角为10像素 */
}

.user:hover {
  border-color: white; /* 鼠标悬停时，设置用户输入框边框颜色为白色 */
}

.hobby {
  background-color: black; /* 设置兴趣爱好下拉框的背景颜色为黑色 */
  color: white; /* 设置兴趣爱好下拉框的文字颜色为白色 */
  font-size: 18px; /* 设置兴趣爱好下拉框的文字大小为18像素 */
  border: none; /* 移除兴趣爱好下拉框的边框 */
  padding: 10px; /* 设置兴趣爱好下拉框的内边距为10像素 */
  width: 50%; /* 设置兴趣爱好下拉框宽度为父容器的50% */
}
/* 隐藏默认的下拉箭头 */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 20px; /* 给右侧留出空间放置箭头 */
  border: 1px solid #ccc; /* 可选，添加边框样式 */
  border-radius: 4px; /* 可选，添加圆角 */
}

/* 设置单选按钮标记的样式 */
input[type="radio"],
input[type="checkbox"] {
  display: inline-block; /* 设置单选按钮和复选框为行内块级元素 */
  width: 12px; /* 设置单选按钮和复选框的宽度为12像素 */
  height: 12px; /* 设置单选按钮和复选框的高度为12像素 */
  border: 1px solid white; /* 设置单选按钮和复选框的边框为1像素白色实线 */
  background-color: white; /* 设置单选按钮和复选框的背景颜色为白色方块 */
  margin-right: 5px; /* 设置单选按钮和复选框与其后的文本之间的右侧间距为5像素 */
  vertical-align: middle; /* 设置单选按钮和复选框垂直居中对齐 */
  cursor: pointer; /* 设置鼠标指针为指针样式，表示可以点击 */
}
