body {
  background-image: url("../STATIC-RESOURCES/IMAGE/background/background.jpg");  /* 设置背景图片路径 */
  background-position: center; 									/* 将背景图片在容器中居中 */
  background-repeat: no-repeat; 								/* 防止背景图片重复 x,y 显示 */
  background-size: 100% 100%; 									/* 将背景图片拉伸以铺满容器 */
  background-attachment: fixed; 								/* 固定背景图片，不随页面滚动而滚动 */
  height: 100vh; 												/* 设置容器的高度为视口的高度 */
  margin: 0; 													/* 移除默认的边距 */
}

.navbar {
  display: flex; 						/* 使用 Flexbox 布局，将子元素放置在一行上 */
  justify-content: space-between; 		/* 在容器内水平对齐子元素，两端留有空白 */
  align-items: center; 					/* 在容器内垂直对齐子元素，使其居中对齐 */
  background-color: #333; 				/* 设置导航栏的背景颜色为深灰色 */
  color: #fff; 							/* 设置导航栏的文本颜色为白色 */
  padding: 10px; 						/* 在导航栏周围添加 10px 的内边距 */
}

.navbar-links {
  font-size: 20px; 						/* 设置导航链接的字体大小 */
  display: flex; 						/* 使用 Flexbox 布局，将链接元素放置在一行上 */
  margin-right: 50px; 					/* 设置导航链接之间的右侧间距 */
}

.navbar-links a {
  /* 后代选择器是 CSS 中一种选择器，用于选择父元素内部的所有后代元素，而不仅仅是直接子元素 */
  color: #fff; 							/* 导航链接的文本颜色 */
  text-decoration: none; 				/* 导航链接的文本装饰，去除下划线 */
  padding: 0 30px; 						/* 字体间距 */
}

.navbar-links a:hover {
  color: gray;							/* 悬停变灰 */
}
